.TwitterCard {
  background-color: rgb(0, 0, 0);
  display: flex;
  color: white;
  min-width: 22rem;
  padding: 10px;
  justify-content: space-between;
  border-radius: 50px;
}

.TwitterCard-header {
  display: flex;
  justify-content: center;
}

.TwitterCard-info {
  display: flex;
  flex-direction: column;
  padding: 2px 8px;
}

.TwitterCard-img {
  width: 48px;
  height: 48px;
  border-radius: 100%;
}

.TwitterCard-infoName {
  opacity: 0.5;
}

.TwitterCard-aside {
  display: flex;
}

.TwitterCard-button {
  background-color: #fff;
  color: #000;
  margin: 5px 5px;
  padding: 0 20px;
  font-weight: bold;
  border-radius: 999px;
  border: 0;
}

.TwitterCard-button.is-following {
  background-color: red;
  color: #fff;
}

.TwitterCard-unFollowButton {
  display: none;
}

.TwitterCard-button.is-following:hover .TwitterCard-followButton {
  display: none;
}

.TwitterCard-button.is-following:hover .TwitterCard-unFollowButton {
  display: block;
}

.TwitterCard-button.is-following:hover {
  cursor: pointer;
  background-color: rgb(134, 10, 10);
}

.TwitterCard-button:hover {
  cursor: pointer;
  background-color: aqua;
}
