.TwitterCard {
  background-color: rgb(0, 0, 0);
  display: flex;
  color: white;
  width: 500px;
  padding: 10px;
}

.TwitterCard-header {
  display: inherit;
  gap: 2%;
}

img {
  width: 20%;
}

header > div > span {
  opacity: 0.5;
}

header > div {
  padding: 10px;
}
aside {
  padding: 10px;
  display: flex;
}

button {
  background-color: #fff;
  color: #000;
  padding: 0px 40px;
  font-weight: bolder;
  font-size: 15px;
  border-radius: 50px;
  border: thin solid #fff;
}
